@import "@lynx-js/luna-styles/index.css";

.container {
  background-color: var(--canvas);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 288px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 216px;
  height: 216px;
  border-radius: 9999px;
  background-color: var(--canvas);
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.letter {
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
  color: var(--primary);
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--content);
  margin-top: 4px;
}

.subtitle {
  font-size: 10px;
  color: var(--content-subtle);
  margin-top: 1px;
}

.scroll-view {
  width: 100%;
  height: 472px;
}

.scroll-view-content {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    90deg,
    var(--gradient-a),
    var(--gradient-b),
    var(--gradient-c),
    var(--gradient-d)
  );
}
