@import "@lynx-js/luna-styles/index.css";

/* =========================
 * Container
 * ========================= */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 72px;
  padding-left: 48px;
  padding-right: 48px;
}

.canvas {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 16px;
  overflow: hidden;
  color: var(--content);
  background-color: var(--canvas);
}

.luna-gradient-ocean {
  background: linear-gradient(
    0deg,
    var(--gradient-c) 60%,
    var(--gradient-d) 120%
  );
}

/* =========================
 * Section
 * ========================= */

.section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title, .label {
  font-size: 16px;
  color: var(--content-2);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

.label.disabled {
  opacity: 0.34;
}

/* =========================
 * Checkbox
 * ========================= */

.checkbox {
  width: 20px;
  height: 20px;
}

.checkbox.ui-disabled {
  opacity: 0.34;
}

/* =========================
 * Indicator
 * ========================= */

.checkbox-indicator {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border-width: 1.5px;
  border-color: var(--line);
}

.checkbox-indicator.ui-active {
  border-color: var(--primary-2);
  border-width: 1.5px;
}

.checkbox-indicator.ui-checked {
  background-color: var(--primary);
  border-width: 0;
}

.checkbox-indicator.ui-active.ui-checked {
  background-color: var(--primary-2);
  border-width: 0;
}
