@import "@lynx-js/luna-styles/index.css";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 24px;
  background-color: var(--primary);
  transition: background-color 100ms ease-out;
  padding-left: 24px;
  padding-right: 24px;
  gap: 6px;
}

.button.active {
  background-color: var(--primary-2);
}

.button-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}

.text {
  font-size: 14px;
  color: var(--primary-content);
}

/* =========================
 * Layout
 * ========================= */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.canvas {
  width: 100%;

  padding: 84px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  color: var(--content);
  background-color: var(--canvas);
}

.luna-gradient-rose {
  background: linear-gradient(
    0deg,
    var(--gradient-a),
    var(--gradient-b)
  );
}
