@import "@lynx-js/luna-styles/index.css";

/* =========================
 * Layout
 * ========================= */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--canvas);
}

.column {
  width: 50%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* =========================
 * Header Button
 * ========================= */

.header-button {
  height: 64px;
  border-radius: 12px;
  padding: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--line);
  color: var(--content);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================
 * ScrollView
 * ========================= */

.scrollview {
  width: 100%;
  height: 400px;

  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--line);
  background-color: var(--canvas);
}

/* =========================
 * Item
 * ========================= */

.item {
  width: 100%;
  height: 300px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--line);
}

.item-text {
  font-size: 14px;
  color: var(--content);
}

/* Sub blocks to create visual weight */
.item-sub-block {
  width: 100%;
  height: 20px;
  border-radius: 6px;

  background-color: var(--primary-muted);
}
