@import "@lynx-js/luna-styles/index.css";

/* =========================
 * Container
 * ========================= */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.canvas {
  height: 100%;
  width: 100%;

  padding: 46px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  color: var(--content);
  background-color: var(--canvas);
  gap: 16px;
}

.luna-gradient-rose {
  background: linear-gradient(
    0deg,
    var(--gradient-a),
    var(--gradient-b)
  );
}

/* =========================
 * Solid blocks
 * ========================= */

.block {
  width: 100%;
  height: 84px;
  border-radius: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: linear-gradient(
    150deg,
    var(--primary) 8.42%,
    var(--primary-2) 81.71%
  );
}

/* =========================
 * Card
 * ========================= */

.card {
  width: 100%;
  padding: 14px;
  border-radius: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--line);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--content-muted);
}

/* =========================
 * Inputs
 * ========================= */

.input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--line);

  color: var(--content);
  caret-color: var(--primary);
}

.input::placeholder {
  color: var(--content-faint);
}

/* =========================
 * TextArea
 * ========================= */

.textarea-wrap {
  width: 100%;
  padding: 10px;
  border-radius: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--line);
}

.textarea {
  height: 160px;
  width: 100%;
  color: var(--content);
  caret-color: var(--primary);
}

.textarea::placeholder {
  color: var(--content-faint);
}
