@import "@lynx-js/luna-styles/index.css";

.container {
  background-color: var(--canvas);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-area {
  width: 300px;
  height: 300px;
  border-width: 2px;
  box-sizing: content-box;
  border-color: var(--line);
  align-items: center;
  justify-content: center;
}

.draggable {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    150deg,
    var(--primary) 8.42%,
    var(--primary-2) 81.71%
  );
}
