@import "@lynx-js/luna-styles/index.css";

.horizontal-bounce-tag {
  width: 84px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: inherit;
}

.horizontal-bounce-tag__surface {
  min-width: 56px;
  padding: 16px 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.horizontal-bounce-tag__surface--upper {
  background-color: var(--primary);
}

.horizontal-bounce-tag__surface--lower {
  background-color: var(--primary-2);
}

.horizontal-bounce-tag__text-line {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  color: var(--primary-content);
}
