.image {
  width: 100%;
  height: 100%;
}

.image-text {
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
}

.title-container {
  margin-top: 10px;
  margin-bottom: 5px;
}

.title-text {
  font-size: 16px;
}

.button {
  border: 1px solid;
  border-radius: 4px;
  width: 150px;
  background-color: red;
  margin: 4px 8px;
  padding: 4px 8px;
}

.button-text {
  color: white;
}

.operation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.block {
  display: flex;
  width: 100%;
  margin: 10px;
}
