@import "@lynx-js/luna-styles/index.css";

.container {
  background-color: var(--canvas, #ffffff);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.expand {
  flex: 1;
}

.top-area {
  height: 54px;
  width: 100%;
}

.content-area {
  display: flex;
  background: linear-gradient(
    0deg,
    var(--gradient-a),
    var(--gradient-b),
  );
  padding-top: 96px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  padding-bottom: 12px;
}

.operation {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 32px 16px;
}

.sub-operation {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px 72px 16px;
}
