@import "@lynx-js/luna-styles/index.css";

.button {
  height: 48px;
  display: flex;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-ambient);
  transition: opacity 0.15s ease-in-out;
}

.button.ui-active {
  opacity: 0.5;
}

.button .text {
  color: var(--content);
}

.button.primary {
  background-color: var(--primary);
}

.button.primary .text {
  color: var(--primary-content);
}

.text {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
}

.sub-text {
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: var(--content-muted);
}
