@import "../shared/base.css";
@import "../shared/slider-primitives.css";

.demo-container {
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
}

.demo-canvas {
  box-sizing: border-box;
  transition: width 250ms cubic-bezier(0.23, 1, 0.32, 1);
}
