@import "@lynx-js/luna-styles/index.css";

.button {
  width: 324px;
  height: 48px;
  flex-shrink: 0;
  background-color: var(--neutral);
  border-radius: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.button-text {
  color: var(--neutral-content);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.button.ui-active {
  background-color: var(--neutral-2);
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--canvas);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swipe-action-container {
  width: 100%;
  height: 150px;
  display: linear;
  linear-orientation: vertical;
}

.swipe-action {
  width: 100%;
  height: 100px;
}

.display-area-container {
  width: 100vw;
  height: 100%;
}

.display-area-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    270deg,
    var(--gradient-b, #f992b1) 0%,
    var(--gradient-a, #ff558e) 100%
  );
}

.area-text {
  color: var(--neutral-content);
  text-align: center;
  width: 100%;
}

.action-area-container {
  display: linear;
  linear-orientation: horizontal;
  height: 100%;
}

.action-area-content {
  width: 150px;
  height: 100%;
  background-color: var(--neutral);
  display: flex;
  align-items: center;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.08), -2px 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
