@import "@lynx-js/luna-styles/index.css";
@import "../shared/base.css";

.rtl {
  direction: rtl;
  background-color: var(--canvas-ambient);
}

.title {
  color: var(--content);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: right;
}

.description {
  margin-top: 8px;
  margin-bottom: 24px;
  color: var(--content-subtle);
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}
