.horizontal-start-wrapper {
  position: absolute;
  right: 100%;
  height: 100%;
  width: max-content;
}

.vertical-start-wrapper {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: max-content;
}

.horizontal-end-wrapper {
  position: absolute;
  left: 100%;
  height: 100%;
  width: max-content;
}

.vertical-end-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  height: max-content;
}
