.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  gap: 50px;
}

.dialog-trigger {
  width: 200px;
  height: 40px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 26);
}

.dialog-trigger-text {
  color: white;
}

.dialog-trigger:active {
  background-color: rgb(51, 51, 51);
}

.dialog-viewport-level-3 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}

.dialog-viewport {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialog-backdrop {
  background-color: #333333;
  opacity: 0.3;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100vw;
}

.level-3 {
  background-color: steelblue;
}

.level-4 {
  background-color: blanchedalmond;
}

.dialog-close {
  width: 80vw;
  height: 80px;
  background: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dialog-viewport.ui-open {
  transform: scale(1);
}

.dialog-viewport.ui-closed {
  transform: scale(0);
}

.dialog-content.ui-open {
  transform: scale(1);
}

.dialog-content.ui-closed {
  transform: scale(0);
}

.animation {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.dialog-item {
  width: 100%;
  margin: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
