@import "@lynx-js/luna-styles/index.css";

.sortable-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--canvas);
}

.sortable-item {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 320px;
  height: 64px;
}

.sortable-item.item-0 {
  background-color: var(--neutral);
}

.sortable-item.item-1 {
  background-color: var(--primary);
}

.sortable-item.item-2 {
  background-color: var(--primary-2);
}

.sortable-item.item-3 {
  background-color: var(--primary-muted);
}

.sortable-item.item-4 {
  background-color: var(--secondary);
}

.sortable-item.item-5 {
  background-color: var(--secondary-2);
}

.sortable-item-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
}

.drag-here-text {
  font-size: 8px;
  font-weight: 700;
}

.drag-here-text.neutral {
  color: var(--neutral-content);
}

.drag-here-text.primary {
  color: var(--primary-content);
}

.drag-here-text.secondary {
  color: var(--secondary-content);
}
