.swiper-root {
  display: linear;
  linear-orientation: horizontal;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-track {
  display: linear;
  linear-orientation: horizontal;
  width: 100%;
  height: 100%;
}

.bounce-start-item {
  position: absolute;
  left: 0;
  transform: translate(-100%);
  height: 100%;
  width: max-content;
}

.bounce-start-item-RTL {
  position: absolute;
  inset-inline-start: 0;
  transform: translate(100%);
  height: 100%;
  width: max-content;
}

.bounce-end-item {
  position: absolute;
  left: 100%;
  height: 100%;
  width: max-content;
}

.bounce-end-item-RTL {
  position: absolute;
  inset-inline-start: 100%;
  height: 100%;
  width: max-content;
}
