@import "@lynx-js/luna-styles/index.css";

.container {
  background-color: var(--canvas);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-root {
  width: 100%;
  height: 100px;
  align-items: end;
  background: linear-gradient(
    150deg,
    var(--primary) 8.42%,
    var(--primary-2) 81.71%
  );
}

.draggable-area {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.08), -2px 0 3px 0 rgba(0, 0, 0, 0.1);
}

.draggable-area-text {
  color: var(--neutral-content);
  opacity: 0.4;
}
