@import "@lynx-js/luna-styles/index.css";

.demo-container {
  background-color: var(--canvas-ambient);
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 24px;
}

.demo-header {
  height: 24px;
  width: 100%;
}

.feed-list {
  width: 100%;
  height: 100%;
  background-color: var(--canvas-ambient);
}
