.container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 2 * 2px - 2 * 5px);
  width: 800px;
  border-width: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
