@import "@lynx-js/luna-styles/index.css";

.trigger-button {
  padding: 12px 24px;
  background-color: var(--gradient-content-trace);
  border-radius: 999px;
}

.trigger-button.ui-active {
  opacity: 0.5;
}

.trigger-button-text {
  color: var(--gradient-content);
  font-size: 16px;
  font-weight: 600;
}
