@import "@lynx-js/luna-styles/index.css";

.indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.indicator-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary-content-faded, rgba(255, 255, 255, 0.4));
  margin: 4px;
}

.indicator-item.active {
  background: var(--primary-content, #ffffff);
}
